

body,html{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    font-size: 20px;
    margin-bottom: 20px;

    text-transform: uppercase;
    
}
.primary {
    color: white;
    background-color: orangered;
    border: none;
    margin-top: 10px;
}

.main-background {
    background-image: url(./bleh.PNG);

    
    filter: blur(3px);
    background-size: 100%;
    height: 800px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    -webkit-filter: blur(3px);
    
    

}
.main-list {
    border-radius: 5px;
    margin-bottom: 120%;
    width: 70px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%,-50%);
    width: 45%;
    padding: 40px 0;
    text-align: center;
    
    background-color: white;
    color: orangered;
    font-weight: bold;
    border: 2px solid orangered;
    
}

.options {
    display: flex;
    margin: 0 0 0 40px ;
    margin-bottom: 10px;
}
.secondary-btn-one {
    margin: 0px 15px 0px 10px;
}

.secondary-btn-two {
    margin: 0px 15px 0px 10px;
}
.secondary-btn-three {
    margin: 0px 15px 0px 10px;
}
.secondary-btn-four {
    margin: 0px 15px 0px 10px;
}
